.bg-white{
    -fx-background-color: #fff;
}

.radius {
    -fx-background-radius:8px;
}

.shawdown {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5,0,0,0)
}

.viewBtn{
    -fx-background-color: 	#6699FF;
}

.viewBtn:hover{
    -fx-background-color: #33CCFF;
    -fx-text-fill: #fff;
}